## Assignment 1 (4 scores):

- Use Numpy only to construct the Logistic Regression model.
- Train that Logistic Regression model dataset using the Gradient Descend approach on the [Predict students’ dropout and academic success](https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success) dataset. *Note that three class in this dataset must be merge into two class as: graduate and non-graduate (dropout or enroll)*.
- Evaluate that Logistic Regression model on the [Predict students’ dropout and academic success](https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success) dataset.
- Visualize the loss function of the training process.

### Import Libraries

In [49]:
import numpy as np
import pandas as pd

### Load Dataset

In [50]:
data = pd.read_csv("data/data.csv", sep=";")
data

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

### Exploratory Data Analysis

In [51]:
data["Target"].value_counts()

Target
Graduate    2209
Dropout     1421
Enrolled     794
Name: count, dtype: int64

In [52]:
data.isna().sum()

Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance\t                      0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance	                     4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nacionality                                     4424 non-null   int64
 8   Mother's qualification                          4424 non-null   int64
 9   Father's qualification                          4424 non-null   int64
 10  Mother's occupation                             4424 non-null   int64
 11  Father's occupation                             4424 non-null   int64
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   int64
 14  Educational special needs                       4424 non-null   int64
 15  Debtor                                          4424 non-null   int64
 16  Tuition fees up to date                         4424 non-null   int64
 17  Gender                                          4424 non-null   int64
 18  Scholarship holder                              4424 non-null   int64
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   int64
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
 36  Target                                          4424 non-null   object
dtypes: float64(7), int64(29), object(1)
memory usage: 1.2+ MB

### Data Preprocessing

Mã hóa graduate và non-graduate (dropout, enroll) tương ứng với 1 và 0.

In [54]:
def encode_target(value: str) -> int:
    if value == "Enrolled" or value == "Dropout":
        return 0
    return 1

data["Target"] = data["Target"].apply(encode_target)

In [55]:
data["Target"].value_counts()

Target
0    2215
1    2209
Name: count, dtype: int64

In [56]:
# check var
data

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,0
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,1
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,0
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,1
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,1
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,0
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,0
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,1
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,1

**Normalization**

In [57]:
# Normalization 
continuous_columns = [
    'Previous qualification (grade)',
    'Admission grade',
    'Unemployment rate',
    'Inflation rate',
    'GDP'
]

for column in continuous_columns:
    data[column] = (data[column] - data[column].mean()) / data[column].std()
    
for column in data.columns:
    if column not in continuous_columns:
        data[column] = data[column] / data[column].max()

### Split Data

In [58]:
def split_data(df): 
    X = df.drop(columns="Target").to_numpy(dtype=float)
    y = df["Target"].to_numpy(dtype=float)
    
    np.random.seed(21)
    indices = np.arange(X.shape[0])
    np.random.shuffle(indices)

    X_shuffled = X[indices]
    y_shuffled = y[indices]
    
    split_ratio = 0.8
    split_index = int(X_shuffled.shape[0] * split_ratio)

    X_train, X_test = X_shuffled[:split_index], X_shuffled[split_index:]
    y_train, y_test = y_shuffled[:split_index], y_shuffled[split_index:]
    
    return X_train, X_test, y_train, y_test

X_train, X_test, y_train, y_test = split_data(data)

In [59]:
# Reshape để tập nhãn về dạng (n, 1) với n là số mẫu dữ liệu
y_train, y_test = y_train.reshape(-1, 1), y_test.reshape(-1, 1)

In [60]:
y_train.shape

(3539, 1)

Kiểm tra xem phân phối nhãn có đồng đều hay không. Vì ở đây code bằng numpy nên em đã thử lại nhiều seed chia random và thấy seed 21 cho phân phối khá đồng đều.

In [61]:
(y_train == 1).sum() / len(y_train)

np.float64(0.5009889799378355)

In [62]:
(y_test == 1).sum() / len(y_test)

np.float64(0.49265536723163844)

### Model Building

In [63]:
from tqdm import tqdm

class LogisticRegression: 
    def __init__(self, epoch: int, lr: float) -> None:
        self.epoch = epoch
        self.lr = lr
        self.losses = []
        self.metrics = []
        
    def sigmoid(self, s: np.ndarray) -> np.ndarray:
        s = np.clip(s, -100, 100)
        return 1 / (1 + np.exp(-s))
    
    # cross-entropy loss function
    def loss_fn(self, y: np.ndarray, y_hat: np.ndarray) -> float:
        eps = 1e-5
        y_hat = np.clip(y_hat, eps, 1 - eps)
        loss = -(y * np.log(y_hat) + (1 - y) * np.log(1 - y_hat)).mean()
        return loss
        
    # classification's accuracy function
    def accuracy(self, y: np.ndarray, y_hat: np.ndarray) -> float: 
        y_hat = (y_hat >= 0.5).astype(int)
        return (1 - np.abs(y - y_hat)).mean()
    
    # predict
    def predict(self, X: np.ndarray) -> np.ndarray:
        s = np.matmul(X, self.theta)
        y_hat = self.sigmoid(s)
        return y_hat 

    # training 
    def fit(self, X: np.ndarray, y: np.ndarray) -> None:
        n = X.shape[0]
        d = X.shape[1]
        self.theta = np.zeros((d, 1))
        
        with tqdm(range(self.epoch)) as pb:
            for e in pb: 
                # forward 
                pb.set_description(f"Epoch {e + 1}")
                y_hat = self.predict(X)
                
                # backward
                gradient = 1/n * np.matmul(X.T, y_hat - y)
                self.theta = self.theta - self.lr * gradient
                
                # evaluating
                y_hat = self.predict(X)
                loss = self.loss_fn(y, y_hat)
                acc = self.accuracy(y, y_hat)
                pb.set_postfix({
                    "loss": loss,
                    "acc": acc
                })
                
                self.losses.append(loss)
                self.metrics.append(acc)

In [64]:
logistic_reg = LogisticRegression(500, 0.01)

### Model Training

In [65]:
logistic_reg.fit(X_train, y_train)

Epoch 500: 100%|██████████| 500/500 [00:00<00:00, 590.49it/s, loss=0.612, acc=0.728]

### Model Evaluation

In [66]:
y_pred = logistic_reg.predict(X_test)
print(f'Accuracy: {logistic_reg.accuracy(y_test, y_pred)}')

Accuracy: 0.711864406779661

# Assignment 2 (4 scores):

- Use Numpy only to construct the Sofmax Regression model.
- Train that Logistic Regression model dataset using the Gradient Descend approach on the [Predict students’ dropout and academic success](https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success) dataset.
- Evaluate that Logistic Regression model on the [Predict students’ dropout and academic success](https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success) dataset.
- Visualize the loss function of the training process.

### Import Libraries

In [67]:
import numpy as np
import pandas as pd

### Load Dataset

In [68]:
data = pd.read_csv("data/data.csv", sep=";")
data

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

### Exploratory Data Analysis

In [69]:
data.isna().sum()

Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance\t                      0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance	                     4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nacionality                                     4424 non-null   int64
 8   Mother's qualification                          4424 non-null   int64
 9   Father's qualification                          4424 non-null   int64
 10  Mother's occupation                             4424 non-null   int64
 11  Father's occupation                             4424 non-null   int64
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   int64
 14  Educational special needs                       4424 non-null   int64
 15  Debtor                                          4424 non-null   int64
 16  Tuition fees up to date                         4424 non-null   int64
 17  Gender                                          4424 non-null   int64
 18  Scholarship holder                              4424 non-null   int64
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   int64
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
 36  Target                                          4424 non-null   object
dtypes: float64(7), int64(29), object(1)
memory usage: 1.2+ MB

### Data Preprocessing

In [71]:
def encode_target(value: str) -> int: 
    if value == "Enrolled":
        return 0
    if value == "Dropout":
        return 1
    return 2

data["Target"] = data["Target"].apply(encode_target)

In [72]:
# checkvar
data

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,1
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,2
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,1
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,2
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,2
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,1
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,1
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,2
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,2

In [73]:
data["Target"].value_counts()

Target
2    2209
1    1421
0     794
Name: count, dtype: int64

In [74]:
# Normalization 
continuous_columns = [
    'Previous qualification (grade)',
    'Admission grade',
    'Unemployment rate',
    'Inflation rate',
    'GDP'
]

for column in continuous_columns:
    data[column] = (data[column] - data[column].mean()) / data[column].std()
    
for column in data.columns:
    if column not in continuous_columns:
        data[column] = data[column] / data[column].max()

### Split Data

In [75]:
def split_data(df): 
    X = df.drop(columns="Target").to_numpy(dtype=float)
    y = df["Target"].to_numpy(dtype=float)
    
    np.random.seed(21)
    indices = np.arange(X.shape[0])
    np.random.shuffle(indices)

    X_shuffled = X[indices]
    y_shuffled = y[indices]
    
    split_ratio = 0.8
    split_index = int(X_shuffled.shape[0] * split_ratio)

    X_train, X_test = X_shuffled[:split_index], X_shuffled[split_index:]
    y_train, y_test = y_shuffled[:split_index], y_shuffled[split_index:]
    
    return X_train, X_test, y_train, y_test

X_train, X_test, y_train, y_test = split_data(data)

In [76]:
# from sklearn.model_selection import train_test_split
# X = data.drop(columns="Target").to_numpy(dtype=float)
# y = data["Target"].to_numpy(dtype=float)
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [77]:
X_train.shape, y_train.shape

((3539, 36), (3539,))

In [78]:
encode_y_train = np.zeros((y_train.shape[0], 3))
encode_y_train[y_train == 0] = np.array([1, 0, 0])
encode_y_train[y_train == 1] = np.array([0, 1, 0])
encode_y_train[y_train == 2] = np.array([0, 0, 1])

In [79]:
encode_y_test = np.zeros((y_test.shape[0], 3))
encode_y_test[y_test == 0] = np.array([1, 0, 0])
encode_y_test[y_test == 1] = np.array([0, 1, 0])
encode_y_test[y_test == 2] = np.array([0, 0, 1])

### Model Building

In [80]:

from tqdm import tqdm

class SoftmaxRegression: 
    def __init__(self, epoch: int, lr: float) -> None:
        self.epoch = epoch
        self.lr = lr
        self.losses = []
        self.metrics = []
        
    def softmax(self, z: np.ndarray) -> np.ndarray:
        z = z - z.max(axis=1, keepdims=True)        
        e = np.exp(z)
        return e / e.sum(axis=1, keepdims=True)
    
    # cross-entropy loss function
    def loss_fn(self, y: np.ndarray, y_hat: np.ndarray) -> float:
        eps = 1e-9
        y_hat = np.clip(y_hat, eps, 1 - eps)
        loss = -((y * np.log(y_hat)).sum(axis=-1)).mean()
        return loss
    
    # classification's accuracy function
    def accuracy(self, y: np.ndarray, y_hat: np.ndarray) -> float:
        y = y.argmax(axis=-1)
        y_hat = y_hat.argmax(axis=-1)
        return (y == y_hat).mean()
    
    # predict
    def predict(self, X: np.ndarray) -> np.ndarray:
        z = np.matmul(X, self.theta) 
        y_hat = self.softmax(z) 

        return y_hat

    # training
    def fit(self, X: np.ndarray, y: np.ndarray) -> None: 
        n = X.shape[0]
        d = X.shape[1]
        n_classes = y.shape[-1]
        self.theta = np.zeros((d, n_classes))
        
        with tqdm(range(self.epoch)) as pb:
            for e in pb: 
                # forward 
                pb.set_description(f"Epoch {e + 1}")
                s = self.predict(X)
                
                # backward
                gradient = 1/n * np.matmul(X.T, s - y) 
                self.theta = self.theta - self.lr * gradient
                
                # evaluating 
                s = self.predict(X)
                loss = self.loss_fn(y, s)
                acc = self.accuracy(y, s)
                pb.set_postfix({
                    "loss": loss,
                    "acc": acc
                })
                
                self.losses.append(loss)
                self.metrics.append(acc)

In [81]:
softmax_reg = SoftmaxRegression(500, 0.05)

### Model Training

In [82]:
softmax_reg.fit(X_train, encode_y_train)

Epoch 500: 100%|██████████| 500/500 [00:01<00:00, 355.70it/s, loss=0.389, acc=0.642]

### Model Evaluation

In [83]:
y_pred = softmax_reg.predict(X_test)
print(f"Accuracy: {softmax_reg.accuracy(encode_y_test, y_pred)}")

Accuracy: 0.6135593220338983

# Assignment 3 (2 scores):

- Use a Machine Learning library (Scikit Learn or Skorch) to implement and evaluate the Logistic Regression on the [Predict students’ dropout and academic success](https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success) dataset.
- Use a Machine Learning library (Scikit Learn or Skorch) to implement and evaluate the Softmax Regression on the [Predict students’ dropout and academic success](https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success) dataset.

### Logistic Regression (Sklearn)

In [84]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Load dữ liệu 
data = pd.read_csv("data/data.csv", sep=";")

# Encode target
def encode_target(value: str) -> int:
    if value == "Enrolled" or value == "Dropout":
        return 0
    return 1

data["Target"] = data["Target"].apply(encode_target)


X = data.drop(columns=["Target"])
y = data["Target"]

X = pd.get_dummies(X, drop_first=True)

# Chia dữ liệu train/test 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Chuẩn hóa dữ liệu 
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Training
model = LogisticRegression(max_iter=1000, random_state=42)
model.fit(X_train_scaled, y_train)

# Predicting
y_pred = model.predict(X_test_scaled)

# Evaluating
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.8248587570621468

Confusion Matrix:
 [[341 102]
 [ 53 389]]

Classification Report:
               precision    recall  f1-score   support

           0       0.87      0.77      0.81       443
           1       0.79      0.88      0.83       442

    accuracy                           0.82       885
   macro avg       0.83      0.82      0.82       885
weighted avg       0.83      0.82      0.82       885

### Softmax Regression (Sklearn)

In [85]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Load dữ liệu 
data = pd.read_csv("data/data.csv", sep=";")

# Encode Target 
def encode_target(value: str) -> int:
    if value == "Enrolled":
        return 0
    if value == "Dropout":
        return 1
    return 2

data["Target"] = data["Target"].apply(encode_target)

X = data.drop(columns=["Target"])
y = data["Target"]

X = pd.get_dummies(X, drop_first=True)

# Chia train/test 
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

# Chuẩn hoá 
scaler = StandardScaler(with_mean=False)
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Training
model = LogisticRegression(
    solver="lbfgs",        # 'lbfgs' tự động chọn softmax trong bản mới
    max_iter=2000,
    random_state=42
)
model.fit(X_train_scaled, y_train)

# Predicting
y_pred = model.predict(X_test_scaled)

# Evaluating
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))
print("\nClassification Report:")
print(classification_report(y_test, y_pred, target_names=["Enrolled", "Dropout", "Other"]))

Accuracy: 0.7593220338983051

Confusion Matrix:
[[ 53  37  69]
 [ 30 212  42]
 [ 22  13 407]]

Classification Report:
              precision    recall  f1-score   support

    Enrolled       0.50      0.33      0.40       159
     Dropout       0.81      0.75      0.78       284
       Other       0.79      0.92      0.85       442

    accuracy                           0.76       885
   macro avg       0.70      0.67      0.68       885
weighted avg       0.74      0.76      0.74       885