# Test

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("./dataset/forestfires.csv")
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [5]:
print(df.shape)

(517, 13)

In [6]:
for col_name in df.columns: 
    print("Total NaN: ", df[col_name].isna().sum())
    print("Totol Null: ", df[col_name].isnull().sum())
    print("Data type: ", df[col_name].dtype)
    print("-" * 10)

Total NaN:  0
Totol Null:  0
Data type:  int64
----------
Total NaN:  0
Totol Null:  0
Data type:  int64
----------
Total NaN:  0
Totol Null:  0
Data type:  object
----------
Total NaN:  0
Totol Null:  0
Data type:  object
----------
Total NaN:  0
Totol Null:  0
Data type:  float64
----------
Total NaN:  0
Totol Null:  0
Data type:  float64
----------
Total NaN:  0
Totol Null:  0
Data type:  float64
----------
Total NaN:  0
Totol Null:  0
Data type:  float64
----------
Total NaN:  0
Totol Null:  0
Data type:  float64
----------
Total NaN:  0
Totol Null:  0
Data type:  int64
----------
Total NaN:  0
Totol Null:  0
Data type:  float64
----------
Total NaN:  0
Totol Null:  0
Data type:  float64
----------
Total NaN:  0
Totol Null:  0
Data type:  float64
----------

In [7]:
def convert_month(month: str) -> int: 
    if (month == "jan"):
        month = 1
    elif (month == "feb"):
        month = 2
    elif (month == "mar"):
        month = 3
    elif (month == "apr"):
        month = 4
    elif (month == "may"):
        month = 5
    elif (month == "jun"):
        month = 6
    elif (month == "jul"):
        month = 7
    elif (month == "aug"):
        month = 8
    elif (month == "sep"):
        month = 9
    elif (month == "oct"): 
        month = 10
    elif (month == "nov"):
        month = 11
    elif (month == "dec"):
        month = 12 

    return month

df["month"] = df["month"].apply(convert_month)

In [8]:
def convert_day(day: str) -> int: 
    if (day == "sun"):
        day = 1
    elif (day == "mon"):
        day = 2
    elif (day == "tue"):
        day = 3
    elif (day == "wed"):
        day = 4
    elif (day == "thu"):
        day = 5
    elif (day == "fri"):
        day = 6
    elif (day == "sat"):
        day = 7
    
    return day
        
df["day"] = df["day"].apply(convert_day)

In [9]:
df

     X  Y  month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5      3    6  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4     10    3  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4     10    7  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6      3    6  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6      3    1  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..    ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3      8    1  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4      8    1  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4      8    1  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4      8    7  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3     11    3  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [10]:
print(df.shape)

(517, 13)

# Assignment 1

In [11]:
import numpy as np

a = np.array([1, 2, 3])
print(type(a))

<class 'numpy.ndarray'>

In [12]:
class LinearRegression: 
    def rmse(self, y_hat: np.ndarray, y: np.ndarray) -> float: 
        e = y_hat - y 
        return np.sqrt(np.mean(e**2))
    
    def fit(self, X: np.ndarray, y: np.ndarray) -> None:
        cov = X.T @ X
        inv_cov = np.linalg.inv(cov)
        self.theta_: np.ndarray = inv_cov @ (X.T @ y)
    
    def predict(self, X: np.ndarray) -> np.ndarray:         
        return X @ self.theta_

In [13]:
lr = LinearRegression()

In [14]:
X_y = df.to_numpy()
X_y

array([[ 7.  ,  5.  ,  3.  , ...,  6.7 ,  0.  ,  0.  ],
       [ 7.  ,  4.  , 10.  , ...,  0.9 ,  0.  ,  0.  ],
       [ 7.  ,  4.  , 10.  , ...,  1.3 ,  0.  ,  0.  ],
       ...,
       [ 7.  ,  4.  ,  8.  , ...,  6.7 ,  0.  , 11.16],
       [ 1.  ,  4.  ,  8.  , ...,  4.  ,  0.  ,  0.  ],
       [ 6.  ,  3.  , 11.  , ...,  4.5 ,  0.  ,  0.  ]], shape=(517, 13))

In [15]:
N = df.shape[0]
X_y_train, X_y_test = np.split(X_y, indices_or_sections=[int(0.8*N)])

In [16]:
X_train, X_test = X_y_train[:, :-1], X_y_test[:, :-1]
X_train.shape, X_test.shape

((413, 12), (104, 12))

In [17]:
y_train, y_test = X_y_train[:, -1], X_y_test[:, -1]
y_train.shape, y_test.shape

((413,), (104,))

In [18]:
lr.fit(X_train.astype(float), y_train.astype(float))

In [19]:
print(X_test.shape)
print(lr.theta_.shape)

(104, 12)
(12,)

In [20]:
y_hat = lr.predict(X_test)

In [21]:
lr.rmse(y_hat, y_test)

np.float64(79.4248792531106)

# Assg 2

$$\hat{X} = \frac{X - \mu}{\sigma}$$